.ant-layout-sider-trigger {
  position:absolute !important;
}
.ant-layout-sider,.ant-layout-content {
  min-height: 100vh;
}
.ant-layout-sider-children {
position: fixed;
}
.ant-layout.ant-layout-has-sider {

margin: 64px 24px 16px 0px !important;
}
/*Project Cards */
.dateCreated {
color:#bfbfbf;
text-align: end;
}